#
# IMPORTANT NOTE
#
# This chart inherits from a common library chart. You can check the default values/options here:
# https://github.com/bjw-s-labs/helm-charts/blob/main/charts/library/common/values.yaml
#

controllers:
  freshrss:
    containers:
      server:
        image:
          # -- image repository
          repository: lscr.io/linuxserver/freshrss
          # -- image tag
          tag: '{{ .Chart.AppVersion }}'
          # -- image pull policy
          pullPolicy: IfNotPresent
        # -- environment variables. See more environment variables in the [freshrss documentation](https://github.com/linuxserver/docker-freshrss#parameters).
        # @default -- See below
        env:
          # -- Set the container timezone
          TZ: UTC
          # -- Set the container user id
          PUID: '1001'
          # -- Set the container group id
          PGID: '1001'
        ports:
          - name: http
            containerPort: 80
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /
            port: http
          readiness:
            enabled: true
            type: HTTP
            path: /
            port: http
          startup:
            enabled: true
            type: HTTP
            path: /
            port: http

# -- Configures service settings for the chart.
# @default -- See values.yaml
service:
  web:
    controller: freshrss
    ports:
      http:
        port: 80
        targetPort: http

# -- Configure persistence settings for the chart under this key.
# @default -- See values.yaml
persistence:
  config:
    type: emptyDir
