name: CI

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Run against changes
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: --config .github/pre-commit/config.yml

  find-changed:
    runs-on: ubuntu-latest
    outputs:
      changed-charts: ${{ steps.list-changed.outputs.changed-charts }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          set -euo pipefail

          {
            echo 'changed-charts<<JSON'
            ct list-changed --target-branch "${TARGET_BRANCH}" | jq --null-input --raw-input '[inputs | { name: ltrimstr("charts/"), path: . }]'
            echo 'JSON'
          } | tee "${GITHUB_OUTPUT}"
        env:
          TARGET_BRANCH: ${{ github.event.pull_request.base.ref }}

  lint:
    name: lint (${{ matrix.chart.name }})
    needs: [find-changed]
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.find-changed.outputs.changed-charts) }}
      fail-fast: false
    runs-on: ubuntu-latest
    if: toJSON(fromJSON(needs.find-changed.outputs.changed-charts)) != '[]'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Checkout base branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: "${{ github.event.pull_request.base.ref }}"
          path: base

      - name: Get chart details for PR
        id: chart-details-pr
        uses: bjw-s-labs/helm-charts-actions/get-chart-details@1445c066f541d8df454d758238b65aa08a54025d
        with:
          path: ${{ matrix.chart.path }}
          validateChartYaml: true
          requireChangelog: false

      - name: Get chart details for base branch
        id: chart-details-base
        uses: bjw-s-labs/helm-charts-actions/get-chart-details@1445c066f541d8df454d758238b65aa08a54025d
        with:
          path: base/${{ matrix.chart.path }}
          allowChartToNotExist: true
          validateChartYaml: false
          requireChangelog: false

      - name: Check version update
        if: ${{ steps.chart-details-pr.outputs.version == steps.chart-details-base.outputs.version }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            core.setFailed("Chart version has not been updated for ${{ matrix.chart.name }}.")

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.18.4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config ./ci/ct/ct.yml --charts '${{ matrix.chart.path }}'

  install:
    name: install (${{ matrix.chart.name }}) (k8s ${{ matrix.k8s_version }})
    needs: [find-changed]
    runs-on: ubuntu-latest
    if: toJSON(fromJSON(needs.find-changed.outputs.changed-charts)) != '[]'
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.find-changed.outputs.changed-charts) }}
        k8s_version:
          - v1.31.12
          - v1.32.8
          - v1.33.4
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.18.4

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.14"

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          kubectl_version: ${{ matrix.k8s_version }}

      - name: Run chart-testing (install)
        if: ${{ !contains(fromJson('["charts/sdtd"]'), matrix.chart.path) }} # Too big for CI.
        run: ct install --config ./ci/ct/ct.yml --charts '${{ matrix.chart.path }}'

  unit-test:
    name: unit-test (${{ matrix.chart.name }})
    needs: [find-changed]
    runs-on: ubuntu-latest
    if: toJSON(fromJSON(needs.find-changed.outputs.changed-charts)) != '[]'
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.find-changed.outputs.changed-charts) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.18.4

      - name: Run tests
        run: |
          helm plugin install https://github.com/vbehar/helm3-unittest --version v1.0.16
          helm dep update '${{ matrix.chart.path }}'
          helm unittest -f "tests/**/*_test.yaml" '${{ matrix.chart.path }}'

  bump-chart-version:
    name: bump-chart-version (${{ matrix.chart.name }})
    needs: [find-changed]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: >
      toJSON(fromJSON(needs.find-changed.outputs.changed-charts)) != '[]' &&
      github.event.pull_request.head.repo.full_name == github.repository
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.find-changed.outputs.changed-charts) }}
      fail-fast: false
    steps:
      - name: Generate GitHub API token
        id: generate-token
        uses: getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc # v3
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: Bump chart version
        id: bump-chart-version
        run: ./.github/scripts/bump-chart-version.rb "origin/${TARGET_BRANCH}" "${CHART}"
        env:
          TARGET_BRANCH: ${{ github.event.pull_request.base.ref }}
          CHART: ${{ matrix.chart.path }}

      - name: Update pull request
        if: steps.bump-chart-version.outputs.new-version
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        with:
          commit_message: Bump ${{ matrix.chart.name }} chart to version ${{ steps.bump-chart-version.outputs.new-version }}.

  conclusion:
    name: conclusion
    needs: [pre-commit, find-changed, lint, install, unit-test]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Result
        run: |
          echo '${{ toJSON(needs) }}'

          ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
