name: release

on:
  push:
    branches:
      - main

concurrency: release

jobs:
  release:
    name: release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Configure Git
        run: |
          git config user.name '${{ github.repository_owner }}[bot]'
          git config user.email '${{ github.repository_owner }}[bot]@users.noreply.github.com'

      - name: Generate GitHub API token
        id: generate-token
        uses: getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc # v3
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_KEY }}

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@3e001cb8c68933439c7e721650f20a07a1a5c61e
        with:
          skip_existing: 'true'
        env:
          CR_TOKEN: ${{ steps.generate-token.outputs.token }}
