---
apiVersion: v2
appVersion: 1.1.10
description: InvenTree is a self-hosted inventory management system
name: inventree
version: 14.3.1
kubeVersion: ">=1.16.0-0"
keywords:
  - inventree
  - inventory
home: https://github.com/reitermarkus/helm-charts/tree/main/charts/inventree
icon: https://inventree.org/assets/logo.png
sources:
  - https://inventree.org
  - https://github.com/inventree/inventree
  - https://hub.docker.com/r/inventree/inventree
maintainers:
  - name: reitermarkus
    email: me@reitermark.us
dependencies:
  - name: common
    repository: https://bjw-s-labs.github.io/helm-charts/
    version: 4.6.2
  - name: redis-ha
    repository: https://dandydeveloper.github.io/charts
    version: 4.35.5
    condition: redis-ha.enabled
